<%= simple_form_for(@anagram_compare) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :original %>
    <%= f.input :wannabe %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
